<!DOCTYPE html>
<html>
<head>
    <title>Update Incident</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">

<h3>Update Incident</h3>

<form method="POST">

    <!-- TITLE -->
    <label class="form-label">Title</label>
    <input name="title" value="{{ incident.title }}" class="form-control mb-3"
    {% if incident.status == 'Closed' %}readonly{% endif %}>

    <!-- DESCRIPTION -->
    <label class="form-label">Description</label>
    <input name="description" value="{{ incident.description }}" class="form-control mb-3"
    {% if incident.status == 'Closed' %}readonly{% endif %}>

    <!-- PRIORITY -->
    <label class="form-label">Priority</label>
    <select name="priority" class="form-control mb-3"
    {% if incident.status == 'Closed' %}disabled{% endif %}>
        <option value="P1" {% if incident.priority == 'P1' %}selected{% endif %}>P1</option>
        <option value="P2" {% if incident.priority == 'P2' %}selected{% endif %}>P2</option>
        <option value="P3" {% if incident.priority == 'P3' %}selected{% endif %}>P3</option>
        <option value="P4" {% if incident.priority == 'P4' %}selected{% endif %}>P4</option>
    </select>

    <!-- STATUS -->
    <label class="form-label">Status</label>
    <select name="status" class="form-control mb-3"
    {% if incident.status == 'Closed' %}disabled{% endif %}>
        <option {% if incident.status == 'Open' %}selected{% endif %}>Open</option>
        <option {% if incident.status == 'Resolved' %}selected{% endif %}>Resolved</option>
        <option {% if incident.status == 'Closed' %}selected{% endif %}>Closed</option>
    </select>

    <!-- BUTTONS -->
    {% if incident.status != 'Closed' %}
        <button class="btn btn-success">Update</button>
    {% else %}
        <div class="alert alert-danger">This incident is CLOSED and cannot be modified.</div>
    {% endif %}

    <a href="/" class="btn btn-secondary">Back</a>

</form>

</div>
</body>
</html>